@{
    ViewData["Title"] = "Estruturas Condicionais";
}

<section class="bg-dark text-white text-center py-3">
    <div class="container d-flex align-items-center flex-column">
        <h1 class="text-uppercase mb-3">Estruturas Condicionais</h1>
        <p class="font-weight-light fs-2">Se e Escolha</p>
    </div>
</section>

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="padding:0;">
                <img src="@Url.Content("~/img/partida.jpg")" class="card-img-top" alt="Condicional IF" height="250">
                <div class="card-body">
                    <h5 class="card-title text-center">Futebol</h5>
                    <p class="card-text">Dados os pontos de uma partida de futebol, informe o Time vencedor.
                    </p>
                    <a asp-action="CondicionalIf" class="btn btn-primary">Abrir</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="padding:0">
                <img src="@Url.Content("~/img/pedido.jpg")" class="card-img-top" alt="Condicional Switch" height="250">
                <div class="card-body">
                    <h5 class="card-title text-center">Pedido</h5>
                    <p class="card-text">Calcular o valor total de um produto, a partir de seu código e quantidade.
                    </p>
                    <a asp-action="CondicionalSwitch" class="btn btn-primary">Abrir</a>
                </div>
            </div>
        </div>
    </div>
</div>