dotnet-aspnet-codegenerator view Index Empty -udl -outDir "Views/Matematicos"@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 mb-5">Bem-vindo ao Projeto Exercícios</h1>
        <p class="fs-3">Esta ferramenta foi concebida com o intuito de permitir aos alunos o desenvolvimento de conceitos sobre
            projetos WEB MVC com linguagem de programação ASP.NET C#.</p>
    </div>
</div>